*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: black;
    color:white;
    font-family: "Poppins",helvetica;
}
.navbar{
    position: absolute;
    top:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:3%;
    z-index:10;
}
.navbar_netflix{
    width:125px;
    height:100%;
}
.navbar_nav_items{
    display:flex;
    gap:10px;
}
.dropdown_container{
    display: flex;
    border:1px solid white;
    padding:0.4rem;
    border-radius: 4px;
    background: rgba(0,0,0,0.0);
}
.netflix_logo{
    width:100%;
    height:100%;
}
.language_drop_down{
    background: transparent;
    border:none;
    color:white;
}
.signin_button{
    border:#dc030f;
    background-color: #dc030f;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    height:35px;
    width:100px;
}
.hero_bg_image_container{
    width:100%;
    height:100%;
}
.hero_bg_image{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.hero_bg_overlay{
    width:100%;
    inset:0;
    position: absolute;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.79),rgba(0, 0, 0, 0.0));
}
.hero_card{
    position: absolute;
    top:32%;
    left:25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.hero_title{
    font-weight: 600;
    font-size: 3rem;
}
.hero_subtitle,.hero_description{
font-weight: 400;
font-size: 1.3rem;
}
.email{
    width:450px;
    height:60px;
    color:black;
    padding: 0.25rem 0.5rem;
    border-color: white;
    border-radius: 3px;
}
.get_started{
    font-size: large;
    width:170px;
    height:60px;
    background-color: #dc030f;
    border:1px solid #dc030f;
    color: white;
}
.card-1,.card-2,.card-3{
border-top: 8px solid rgb(69, 69, 69);
padding:50px;
}
.card-1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-1{
    padding-left: 80px;
}
.card-1 video{
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index:-1;
}
.card-1 img{
    grid-column: 2/2;
    grid-row: 1/2;
}
.style-cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}
.style-cards h3{
    font-size: 1.5rem;
    line-height: 2rem;
}
.card-2{
    position:relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px 0px;
}
.desc-2{
    padding-left: 50px;
}
.card-3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 60px;   
}
.desc-3{
    padding-left: 70px;
    padding-right: 20px;
}
.card-3 video{
    position: relative;
    width: 65%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    top:-87px;
    z-index:-1;
}
.card-3 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}
.footer,.footer a{
    padding-top: 50px;
border-top: 8px solid rgb(69, 69, 69);
color:#999;
font-size: 0.9rem;
padding-bottom: 100px;
}
.footer p{
    margin-bottom: 1.5rem;
    padding-left: 50px;
    padding-bottom: 20px;
}
.footer ul{
    list-style-type: none;
}
.footer .footer-cols{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:2rem;
    padding-left: 50px;
}
.footer li{
    line-height: 1.9rem;
}
.dropdown{
    padding-left: 50px;
    padding-top: 40px;
    display: flex;
}
.language{
    background: transparent;
    border:none;
    color:#999;
}